<main class="p-5">

	<div class="card p-5">
		<p id="test">
			Hello world
		</p>
		<p id="test">
			Hello world
		</p>
		<p id="test">
			Hello world
		</p>
		<p hidden id="test">
			Hello world
		</p>
		<span class="span-b">Super</span>
	</div>

	<pre>	Test</pre>

	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

	<div style="padding: 50px 0x 50px 100px; background: gray; height: 100px">

		<span>Inline</span>
		<span>Inline</span>
		<span>Inline</span>

		<span class="block">Inline-block</span>

	</div>

	<div>Block</div>

</main>